<header th:fragment="logined-header" class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a th:href="@{/}">
            <img th:src="@{/images/header_logo.png}" alt="Logo" class="header-logo" />
        </a>

        <!-- 내비 메뉴 -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
            <li class="nav-item"><a class="nav-link active ms-2 fw-bold" th:href="@{/restaurants}">동네소개</a></li>
            <li class="nav-item"><a class="nav-link ms-2 fw-bold" th:href="@{/address-certify}">동네인증</a></li>
            <li class="nav-item"><a class="nav-link ms-2 fw-bold" th:href="@{/restaurant-detail}">점포관리</a></li>
        </ul>

        <!-- 검색창 -->
        <form class="d-flex me-3" method="get" action="/restaurants/search">
            <input
                class="form-control me-2 search-box"
                type="search"
                name="menu"
                placeholder="찾는 메뉴가 뭐에요?"
                aria-label="search"
            />
            <button class="btn btn-outline-success" type="submit">검색</button>
        </form>


        <!-- 채팅하기/로그아웃 버튼 -->
        <div class="d-flex me-3">
            <a th:href="@{/chat}" class="btn chat-btn-outline-dark">채팅하기</a>
        </div>

        <div class="d-flex me-3">
            <a th:href="@{/}" class="btn logout-btn-outline-dark">로그아웃</a>
        </div>
    </div>
</header>
